@import url('style.css');
@media (max-width: 768px){

    /* index.blade.php */

    .background{
        aspect-ratio: 16/9;
    }
    .title-text{
        font-size: 3.4vw;
    }
    .text-text{
        margin: 0 !important;
        font-size: 1.6vw;
        padding-left: 20px;
    }
    .btn-back{
        width: 180px;
        height: 60px;
    }
    .title-1{
        padding: 0;
        text-align: center;
    }
}
@media (max-width: 600px){

    /* index.blade.php */
    
    .div-btn{
        display: none;
    }
    .title-text{
        font-size: 4vw;
    }
    .text-text{
        font-size: 2vw;
    }
}
@media (max-width: 470px){
    .link-header{
        font-size: 12px;
    }
}