@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: Kanit !important;
}
html{
    max-width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
}

/* Header page */

header{
    width: 100%;
    height: 50px;
    display: flex;
}
.link-header{

    width: 150px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: .3s;
    text-decoration: none;
    height: 100%;
    text-align: center;
    padding: 3px;
}
.link-header:hover{
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: white;
}
/* config title */

.title-1{
    margin: 10px 0;
    padding-left: 10px;
    color: #97c9ff;
    font-size: 28px;
}
.title-2{
    color: white;
}

/* Primary part of page */

.line{
    display: flex;
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 5px 0;
    border-radius: 50%;
}
.line-vertical{
    height: 200px;
    width: 1px;
    background-color: white;
    margin: 0 5px;
    border-radius: 50%;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.background{
    aspect-ratio: 16/8;
    width: 100%;
    background: url("../assets/img_1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 20px;
}
.text, .div-btn{
    width: 350px;
}
.div-btn{
    display: flex;
    justify-content: center;
}
.title-text{
    text-align: center;
    color: white;
    font-size: 32px;
}
.text-text{
    font-size: 15px;
    color: white;
    width: 100%;
}
.btn-back{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Settings box plans */

.ex-planos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.box-planos{

    width: 310px;
    height: 600px;
    border-radius: 7px;
    background-color: white;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.c-box-planos{
    width: 290px;
    height: 580px;
    outline: 3px solid #007BFF;
    border-radius: 7px;
    padding: 5px;
    color: #007BFF;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.desc-planos{
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    text-align: center;
    color: #007BFF;

    display: -webkit-box;
    -webkit-line-clamp: 8;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.img-plano{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(164, 126, 36);
    margin-bottom: 5px;
}
.line-box{
    display: flex;

    height: 1px;
    width: 100%;
    background-color: #007BFF;
    border-radius: 50%;
}

/* calendar */

.calendar{
    width: 350px;
    height: 300px;
    border-radius: 7px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.c-box-calendar{
    width: 330px;
    height: 280px;
    outline: 3px solid #007BFF;
    border-radius: 7px;
    text-align: center;
    color: #007BFF;
    padding: 10px;
}

/* tratamentos */

.tratamentos{
    width: 320px;
    height: 550px;
    border-radius: 7px;
    background-color: white;
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #007BFF;
}
.c-tratamentos{
    width: 300px;
    height: 530px;
    outline: 3px solid #007BFF;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}
.img-tratamentos{
    width: 280px;
    height: 200px;
    border-radius: 7px;

    object-fit: cover;
    object-position: center;
}
.text-tratamentos{

    height: 200px;
    text-align: center;    
    font-size: 15px;
    
    display: -webkit-box;
    -webkit-line-clamp: 9;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

/* informacoes */

.info{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.box-info{
    width: 150px;
    height: 200px;
    padding: 30px 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #007BFF;
}
.box-info p{
    width: 100%;
}
/* mapa */

.mapa{
    width: 100%;
    border-radius: 7px;
}

/* footer page */

footer{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
}
.box-footer{
    display: grid;
}
.title-footer{
    color: white;
}
.link-footer{
    font-size: 11px;
    margin: 3px 0;
    color: rgba(255, 255, 255, 0.6);
    transition: .3s;
}
.link-footer:hover{
    color: rgba(255, 255, 255, 0.6);
}

.icon-wpp{
    position: fixed;
    right: 10px;
    bottom: 150px;
    z-index: 100;
    transition: .3s;
    
 }

/* Icone whatsapp na lateral do site */

 .icon-wpp:hover{
    transform: scale(1.04);
 }