@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: Kanit !important;
}
html{
    max-width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
}

/* Header page */

header{
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.link-header{

    width: 150px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: .3s;
    text-decoration: none;
    height: 100%;
    text-align: center;
    padding: 3px;
}
.link-header:hover{
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: white;
}

/* Primary part of page */

main{
    width: 100%;
}
.background{
    aspect-ratio: 16/9;
    width: 100%;
    background: url("../assets/img_1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.text, .div-btn{
    width: 400px;
}
.div-btn{
    text-align: center;
}
.title-text{
    text-align: center;
    color: white;
    font-size: 3.2vw;
}
.text-text{
    font-size: 1.3vw;
    color: white;
    width: 100%;
    padding: 0 50px;
}
.btn-back{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;

}

/* footer page */

footer{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 100px;
    width: 100%;
}
