@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: Kanit !important;
}
html{
    max-width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
}

/* Header page */

header{
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.link-header{

    width: 150px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: .3s;
    text-decoration: none;
    height: 100%;
    text-align: center;
    padding: 3px;
}
.link-header:hover{
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: white;
}
/* config title */

.title-1{
    margin: 10px 0;
    padding-left: 10px;
    color: #97c9ff;
}
.title-2{
    color: white;
}

/* Primary part of page */

main{
    width: 100%;
}
.background{
    aspect-ratio: 16/8;
    width: 100%;
    background: url("../assets/img_1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 20px;
}
.text, .div-btn{
    width: 400px;
}
.div-btn{
    text-align: center;
}
.title-text{
    text-align: center;
    color: white;
    font-size: 30px;
}
.text-text{
    font-size: 14px;
    color: white;
    width: 100%;
    padding: 0 50px;
}
.btn-back{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;

}

/* Settings box plans */
.ex-planos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.box-planos{

    width: 310px;
    height: 500px;
    border-radius: 7px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.c-box-planos{
    width: 290px;
    height: 480px;
    outline: 3px solid #007BFF;
    border-radius: 7px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img-planos{

    object-fit: cover;
    object-position: center;
    width: 280px;
    height: 150px;
    border-radius: 7px;
    
}
.desc-planos{
    height: 192px;
    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 8;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
/* footer page */

footer{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
}
.box-footer{
    display: grid;
}
.title-footer{
    color: white;
}
.link-footer{
    font-size: 11px;
    margin: 3px 0;
    color: rgba(255, 255, 255, 0.6);
    transition: .3s;
}
.link-footer:hover{
    color: rgba(255, 255, 255, 0.6);
}